<h1 style="margin-top: 1em;">Admin Dashboard</h1>
<br>
<main>
  <ul>
    <li>How many <b>products</b> are in the database: <b><%= @products_count %></li></b>
    <li>How many <b>categories</b> are in the database: <b><%= @categories_count %></li></b>
  </ul>
  <p>Go to the admin products page: <%= link_to '🪴', admin_products_url, style: 'text-decoration: none;' %> </p>
</main>

