<main style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
  <h1 style="margin-top: 1em;">🌱 About Us 🌱</h1>
  <br>
  <article style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 70vw;">
  <p><b>Welcome to Jungle – Your Oasis of Greenery!</b></p>

  <p>Transform your living space into a lush haven with Jungle, your premier online plant shop. Discover an extensive array of stunning plants and flowers, accompanied by all the essentials to nurture their vibrant beauty. Our unbeatable prices ensure that bringing life and joy into your home is not just a possibility but a delightful reality!</p>

  <p>At Jungle, we pride ourselves on offering only the highest quality plants and flowers. Sourced from reputable growers and nurseries, our botanical treasures are guaranteed to bring vitality and elegance to your space. Ordering from us is a breeze, and with free shipping on all orders over $50, indulging in the greenery you crave has never been more affordable.</p>

  <p>Explore our diverse selection of plants and flowers available for purchase on our user-friendly website. Whether you fancy something petite and delicate or grand and striking, Jungle has the perfect plant waiting for you. Elevate your green thumb experience further with our curated collection of accessories, including potting soil, pots, containers, watering cans, and more.</p>
  </article>

  <p><b>Let the green adventure begin!</b></p>
</main>